---
import Layout from '../layouts/Layout.astro';
---

<Layout title="bfbeat">
	<main>
		<div>
			<textarea id="code-input"></textarea>
		</div>
		<div>
			<button id="start-button">start</button>
		</div>
		<div id="console-box">
		</div>
	</main>
</Layout>

<script>
	import { Interpreter } from "@takejohn/brainfuck";

	const codeInput = document.getElementById('code-input')! as HTMLTextAreaElement;
	const startButton = document.getElementById('start-button')!;
	const consoleBox = document.getElementById('console-box')!;

	startButton.addEventListener('click', async () => {
		consoleBox.innerText = '';
		const interpreter = new Interpreter();
		const execution = interpreter.execute(codeInput.value);
		while (true) {
			const output = await Promise.race([interpreter.output(), execution]);
			if (output == null) {
				break;
			}
			consoleBox.innerText += `${output},`;
		}
	});
</script>
